.item {
  background: #f3f3f3;
  border-radius: 8px;
  padding: 10px;
  max-width: 420px;

  margin-bottom: 14px;

  &__row {
    display: flex;
    margin-bottom: 7px;

    &-name,
    &-value {
      font-size: 11px;
      color: #a3a3a3;
    }

    &-value {
      color: #000000;
      margin-left: 7px;
    }

    &--btw-space {
      justify-content: space-between;
      align-items: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
